.converter{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.converter-main-title{
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-bottom: 8px;
	border-bottom: 3px solid var(--primary-blue);
}
.converter-main-title .fa, .converter-main-title .fas{
	margin-right: 15px;
}
.converter .primary-text{
	color: var(--secondary-blue);
}
.converter .converter-action-item{
	margin: 5px 0px;
	border-radius: 5px;
	border: 1px solid var(--gray3);
	padding: 8px 0px 8px 15px;
}
.converter .converter-title{
	margin: 5px 0px 8px 0px;
	padding-left: 8px;
	border-left: 3px solid var(--primary-blue);
}
.converter .converter-value{
	transition: .3s;
}
.converter .converter-action-item:focus{
	outline: none;
	border: 1px solid var(--primary-blue);
}
.converter .converter-select:focus{
	outline: none;
}
.converter .converter-more-header{
	margin: 15px 0px;
}
.converter .converter-more-header span{
	color: var(--secondary-blue);
	transition: .2s all;
}
.converter .converter-more-header span:hover{
	color: var(--primary-blue);
	cursor: pointer;
}
.converter .converter-more-content{
    display: none;
}
.converter .converter-more-content.active{
    display: block;
}
.converter .fa-sync-alt{
	float: right;
	text-align: right;
	font-size: 1.2rem;
	color: var(--secondary-blue);
	transition: .3s;
}
.converter .fa-sync-alt:hover{
	cursor: pointer;
	color: var(--primary-blue);
}
@keyframes rotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(180deg);
	}
}
.rotate{
	animation-duration: 0.5s;
  	animation-name: rotate;
 	animation-iteration-count: 1;
}
.converter .converter-result-options{
	margin-top: 15px;
}
.converter .result-header{
	border-bottom: 2px dashed var(--secondary-blue);
	border-top: 2px dashed var(--secondary-blue);
	padding: 8px 0px;
	margin-top: 20px;
	color: var(--secondary-blue);
	font-weight: 600;
	font-size: 1rem;
	text-align: center;
}
.converter .result-list{
	list-style-type: none;
}
.converter .result-list li{
	padding: 7px 0px 7px 16px;
	border-bottom: 1px dashed var(--gray3);
}
.converter .result-list li .primary-text{
	padding-left: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1382px){
	.converter{
		width: 80%;
	}	
}
@media only screen and (max-width: 992px){
	.converter{
		width: 100%;
	}
}
@media only screen and (max-width: 700px){
	.converter-main-title{
		font-size: 1rem;
	}
}