body{
	padding: 0;
	margin: 0;
	background-image: url(../images/cubes.png);
	background-color: gray;
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
header{
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-transform: uppercase;
	border-bottom: 4px solid darkorange;
	margin-bottom: 2px;
}
header h1{
	margin: 0;
	padding: 20px 0px;
}
#content{
	display: flex;
}
#menu{
	flex-basis: 220px;
	text-align: center;
	border-right: 2px solid dimgray;
}
.menu-header{
	background-color: silver;
	padding: 8px 0px;
}
.menu-header:not(:last-child){
	border-bottom: 1px solid gray;
}
.menu-header:hover{
	background-color: darkorange;
	cursor: pointer;
	color: white;
}
.menu-content{
	padding: 15px;
}
main{
	background-color: white;
	flex-grow: 1;
}
footer{
	margin-bottom: -20px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px 0px;
	color: white;
	grid-area: footer;
}
footer a{
	font-style: italic;
	color: steelblue;
	text-decoration: none;
}
select:focus{
	outline: none;
}
.meter-value{
	line-height: 25px;
}
.meter-type{
	padding: 5px 0px;
}
.meter-value, .meter-type{
	padding-left: 8px;
	border: 1px solid dimgray;
}
.meter-data{
	margin-bottom: 10px;
}
.meter-data-item{
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid lightgrey;
}
.meter-data-item-title{
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 0.9rem;
}
.action-button{
	display: block;
	background-color: darkorange;
	border: 2px solid transparent;
	border-radius: 3px;
	color: white;
	padding: 5px 22px;
	transition: .3s;
	font-weight: bold;
}
.action-button:hover{
	cursor: pointer;
	background-color: transparent;
	color: darkorange;
	border: 2px solid darkorange;
}